.Container{
    display: flex;
    height: 120px;
    justify-content: center;
    /* text-align: center; */
    align-items: baseline;
}
.item{
    display: inline-block;
    height: 45vh ;
    width: 45vw ;
}
.padding{
    
    padding-left: 67px;
}
.padding2{
    
    padding-left: 52px;
}
#inpList{
    width: 44vw;
    height: 25px;
}
h1{
    text-align: center;
}
#divInfo{
    font-size: 13px;
    color: rgb(81, 90, 99);
    font-family:Arial, Helvetica, sans-serif
}

@media (max-width: 1050px){
    .Container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: right;
        text-align: left;
    }
    .item{
        width: 68.359375vw;
    }
    #inpList{
        width: 84vw;
    }
    .flexing{
        display: flex;
        /* flex-wrap: wrap; */
        /* height: ; */
        /* flex-direction: row; */
        width: 77vw;
        
    }
    .iteming{
        word-wrap: break-word;
        
    }
}
@media(max-width:800px){
    h1{
        color: red;
    }
}